/* Whole page */
body {
  background-color: #e6f2ff;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 60px;    /* paina space */
  padding-bottom: 60px; /* kindha space */
}

/* Heading */
h2 {
  margin-bottom: 30px;
}

/* Input boxes */
input {
  padding: 10px;
  width: 220px;
  margin: 10px 0;   /* paina & kindha gap */
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Buttons */
button {
  background-color: #2b7cff;
  color: white;
  border: none;
  padding: 10px 18px;
  margin-top: 15px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #1f5fd1;
}